// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin coopSystem {
  @include valo;

  // Insert your own theme rules here
  .main-layout {
  
  	.back { visibility: hidden; }
  	.forward { visibility: hidden; }
  	.search-bar {
  		padding: 15px;
  		background-color: red;
  		position: fixed;
  		top: 0px;
  		left: 0px;
  		z-index: 99;
  		height: 90px;
  		overflow: hidden;
  		
  		@include transition(all ease-in-out 200ms);
  		
  		.v-verticallayout {
  		
  			.v-slot-interactive { text-align: right; }	
  			.v-slot-search-horizon {
  				
  				.v-slot-search-box {
  					width: 88% !important;
  				}
  				.v-slot-submit-search {
  					width: 12% !important;
  				}
  			}
  		}
  	} // end of search bar	
  	
  	.btn-option {
  		position: fixed;
  		top: 90px;
  		left: 47%;
  		z-index: 99;
  		
  		@include transition(all ease-in-out 200ms);
  	}
  	
  	.data-table {
  		top: 91px;
  		height: 250px;
  		position: fixed;
  		z-index: 99;
  		@include transition(all ease-in-out 200ms);
  	}
  	
  	.more-search-bar {
  		height: 158px;
  		@include transition(all ease-in-out 200ms);
  	}
  	
  	.adjust-option {
  		top: 158px !important;
  		@include transition(all ease-in-out 200ms);
  	}
  	
  	.zero-height {
  		height: 0px;
  		
  		@include transition(all ease-in-out 200ms);
  	}
  	
  	.mini-toolbar {
  		position: fixed;
  		top: 91px;
  		right: 0px;
  		padding: 5px;
  		z-index: 99;

  		@include transition(all ease-in-out 200ms);
  	}
  	
  	.adjust-form {
  		margin-top: 125px !important;
  		
  		@include transition(all ease-in-out 200ms);
  	}
  	
  	.form-layout-h {
  		margin-top: 70px;
  		width: 90% !important;
  		margin-left: 5%;
  		
  		@include transition(all ease-in-out 200ms);
  		
  		.coop-info {
  			.v-slot-number-days {
  				width: 25% !important;
  			}
  			
  			.v-slot-cause {
  				width: 75% !important;
  			}
  		}
  		
  		.product-info {
  			.v-slot-product
  			, .v-slot-coop-org {
  				width: 70% !important;
  			}
  			
  			.v-slot-status
  			, .v-slot-age-enrolled {
  				width: 30% !important;
  			}
  		}
  	} // end of form-layout
  	
  	&[width-range~="769-960px"] {
  		color: red;
  		.form-layout-h {
  			
  			.product-info {
  				
  				.v-slot-benificiaries
  				, .v-slot-relationship {
  					width: 60% !important;
  				}
  				
  				.v-slot-policy-number
  				, .v-slot-coc-number {
  					width: 40% !important;
  				}
  				
  				.v-slot-product { width: 65% !important; }
  				.v-slot-status { width: 35% !important; }
  			}
  		}
  	} // end of 960px
  	
  	
  	&[width-range~="481-768px"] {
  		color: green;
  		
  		.search-bar {
  		padding: 15px;
  		background-color: red;
  		position: fixed;
  		top: 0px;
  		left: 0px;
  		z-index: 99;
  		height: 90px;
  		overflow: hidden;
  		
  		@include transition(all ease-in-out 200ms);
  		
  		.v-verticallayout {
  		
  			.v-slot-interactive { text-align: right; }	
  			.v-slot-search-horizon {
  				
  				.v-slot-search-box {
  					width: 88% !important;
  				}
  				.v-slot-submit-search {
  					width: 12% !important;
  				}
  			}
  		}
  	} // end of search bar	
  		.search-bar {
  			.v-verticallayout {	
  				.v-slot-search-horizon {
  				
  					.submit-search {
  						 .v-button-caption {
  							display: none;
  						}
  					}
  				}
  			}
  		}
  		
  		.form-layout-h {
  		
  			width: 100% !important;
  			margin-left: 0px;
  			font-size: 0.9em !important;
  			
  			.product-info {
  				
  				.v-slot-product
  				, .v-slot-benificiaries
  				, .v-slot-relationship {
  					width: 65% !important;
  				}
  				
  				.v-slot-status
  				, .v-slot-policy-number
  				, .v-slot-coc-number {
  					width: 35% !important;
  				}
  				
  				.v-caption-remark-recieve > .v-captiontext
  				, .v-caption-remark-claim > .v-captiontext { visibility: hidden; }
  				
  				.v-caption-remark-recieve > .v-captiontext:before {
  					visibility: visible;
  					content: "Remarks Recieving";
  				}
  				
  				.v-caption-remark-claim > .v-captiontext:before {
  					visibility: visible;
  					content: "Remarks Claim Dept.";
  				}
  			}
  		}
  	} // end of 768px
  	
  	&[width-range~="321-480px"] {
  	
  		color: blue;
  		
  		.forward {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			right: 0%;
  			z-index: 11;
  		}
  		
  		.back {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			left: 0%;
  			z-index: 11;
  		}
  		.view-coop-info {
  			
  			@include transform(translateX(-102%));
  			@include transition(all ease-in-out 300ms);
  			
  		}
  		
  		.view-prod-info {
  			
  			@include transform(translateX(0%));
  			@include transition(all ease-in-out 300ms);
  		}
  		
  		.search-bar {
  			font-size: 0.8em;
  			
  			.v-verticallayout {	
  				.v-slot-search-horizon {
  				
  					.submit-search {
  						 .v-button-caption {
  							display: none;
  						}
  					}
  				}
  			}
  		}
  		
  		.adjust-form {
  			margin-top: 145px !important;	
  		}
  		
  		.form-layout-h {
  			width: 100% !important;
  			margin-left: 0px;
  			position: relative;
  			margin-top: 80px;
  			left: 1.5%;
  			
  			.v-slot-product-info
  			, .v-slot-coop-info { width: 100% !important; }
  			
  			.v-slot-coop-info { padding-right: 80px; }
  			
  			.product-info {
  			
  				.v-slot-status { width: 30% !important; }
  				.v-slot-product { width: 70% !important; }
  				
  				.v-slot-policy-number
  				, .v-slot-coc-number { width: 40% !important; }
  				
  				.v-slot-benificiaries
  				, .v-slot-relationship { width: 60% !important; }
  			}
  		}
  	} // end of 480px
  	
  	&[width-range~="0-320px"] {
  		color: red;
  		
  		.view-coop-info {
  			
  			@include transform(translateX(-94%));
  			@include transition(all ease-in-out 300ms);
  			
  		}
  		
  		.view-prod-info {
  			
  			@include transform(translateX(0%));
  			@include transition(all ease-in-out 300ms);
  		}
  		
  		
  		.forward {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			right: 0%;
  			z-index: 11;
  		}
  		
  		.back {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			left: 0%;
  			z-index: 11;
  		}
  		
  		.search-bar {
  			.search-box {
  				left: 0;
  				width: 80% !important; 
  			}
  		}
  		
  		.adjust-form {
  			margin-top: 150px !important;
  		}
  		
  		.form-layout-h {
  			font-size: 0.8em;
  			width: 100% !important;
  			left: -9%;
  			position: relative;
  			margin-top: 90px !important;
  			
  			.v-slot-product-info
  			, .v-slot-coop-info { width: 115% !important; }
  			
  			.v-slot-coop-info { padding-right: 20px; }
  			.product-info {
  				.v-caption-coop-org > .v-captiontext { visibility: hidden; }
  				.v-caption-coop-org > .v-captiontext:before { visibility: visible; content: "Coop / Org"; }
  				
  				.v-caption-remark-recieve > .v-captiontext { visibility: hidden; }
  				.v-caption-remark-recieve > .v-captiontext:before { visibility: visible; content: "Rmk. for Receive"; }
  				
  				.v-caption-remark-claim > .v-captiontext { visibility: hidden; }
  				.v-caption-remark-claim > .v-captiontext:before { visibility: visible; content: "Rmk. for Claim Dept." }
  				
  				
  				.v-slot-status
  				, .v-slot-policy-number
  				, .v-slot-coc-number { width: 40% !important; }
  				
  				.v-slot-product
  				, .v-slot-benificiaries
  				, .v-slot-relationship { width: 60% !important; }
  				
  			}
  		}
  	} // end of 320px
  	
  	&[height-range~="0-586px"] {
  		overflow-y: scroll;
  	}
  	
  } // main layout
}
