// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin coop_system {
  @include valo;

  // Insert your own theme rules here
  
  .main-layout {
  	.back { visibility: hidden; }
  	.forward { visibility: hidden; }
  	.search-bar {
  		padding: 15px;
  		background-color: red;
  		position: fixed;
  		top: 0px;
  		z-index: 999;
  		
  		.search-box {
  			left: 35%;
  			width: 50%;
  		}
  	} // end of search bar
  	
  	.form-layout-h {
  		margin-top: 80px;
  		width: 90% !important;
  		margin-left: 5%;
  		
  		.coop-info {
  			.v-slot-number-days {
  				width: 25% !important;
  			}
  			
  			.v-slot-cause {
  				width: 75% !important;
  			}
  		}
  		
  		.product-info {
  			.v-slot-product
  			, .v-slot-coop-org {
  				width: 75% !important;
  			}
  			
  			.v-slot-status
  			, .v-slot-age-enrolled {
  				width: 25% !important;
  			}
  		}
  	} // end of form-layout
  	
  	&[width-range~="769-960px"] {
  		color: red;
  		.form-layout-h {
  			
  			.product-info {
  				
  				.v-slot-benificiaries
  				, .v-slot-relationship {
  					width: 60% !important;
  				}
  				
  				.v-slot-policy-number
  				, .v-slot-coc-number {
  					width: 40% !important;
  				}
  				
  				.v-slot-product { width: 65% !important; }
  				.v-slot-status { width: 35% !important; }
  			}
  		}
  	} // end of 960px
  	
  	
  	&[width-range~="481-768px"] {
  		color: green;
  		
  		.form-layout-h {
  		
  			width: 100% !important;
  			margin-left: 0px;
  			font-size: 0.9em !important;
  			
  			.product-info {
  				
  				.v-slot-product
  				, .v-slot-benificiaries
  				, .v-slot-relationship {
  					width: 65% !important;
  				}
  				
  				.v-slot-status
  				, .v-slot-policy-number
  				, .v-slot-coc-number {
  					width: 35% !important;
  				}
  				
  				.v-caption-remark-recieve > .v-captiontext
  				, .v-caption-remark-claim > .v-captiontext { visibility: hidden; }
  				
  				.v-caption-remark-recieve > .v-captiontext:before {
  					visibility: visible;
  					content: "Remarks Recieving";
  				}
  				
  				.v-caption-remark-claim > .v-captiontext:before {
  					visibility: visible;
  					content: "Remarks Claim Dept.";
  				}
  			}
  		}
  	} // end of 768px
  	
  	&[width-range~="321-480px"] {
  	
  		color: blue;
  		
  		.search-box {
  			width: 90% !important;
  			left: 5%;
  		}
  		
  		.forward {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			right: 0%;
  			z-index: 11;
  		}
  		
  		.back {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			left: 0%;
  			z-index: 11;
  		}
  		.view-coop-info {
  			
  			@include transform(translateX(-102%));
  			@include transition(all ease-in-out 300ms);
  			
  		}
  		
  		.view-prod-info {
  			
  			@include transform(translateX(0%));
  			@include transition(all ease-in-out 300ms);
  		}
  		
  		.form-layout-h {
  			width: 100% !important;
  			margin-left: 0px;
  			position: relative;
  			left: 1.5%;
  			
  			.v-slot-product-info
  			, .v-slot-coop-info { width: 100% !important; }
  			
  			.v-slot-coop-info { padding-right: 80px; }
  		}
  	} // end of 480px
  	
  	&[width-range~="0-320px"] {
  		color: red;
  		
  		.view-coop-info {
  			
  			@include transform(translateX(-102%));
  			@include transition(all ease-in-out 300ms);
  			
  		}
  		
  		.view-prod-info {
  			
  			@include transform(translateX(0%));
  			@include transition(all ease-in-out 300ms);
  		}
  		
  		
  		.forward {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			right: 0%;
  			z-index: 11;
  		}
  		
  		.back {
  			visibility: visible;
  			position: fixed;
  			top: 50%;
  			left: 0%;
  			z-index: 11;
  		}
  		
  		.form-layout-h {
  			font-size: 0.8em;
  			width: 100% !important;
  			left: -4%;
  			position: relative;
  			margin-top: 45px;
  			
  			.v-slot-product-info
  			, .v-slot-coop-info { width: 100% !important; }
  			
  			.v-slot-coop-info { padding-right: 40px; }
  		}
  	} // end of 320px
  	
  	&[height-range~="0-586px"] {
  		overflow-y: scroll;
  	}
  	
  } // main layout
  
}
