// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin coop_information {
  @include valo;

  // Insert your own theme rules here
  
  .main-layout {
  	width: 100%;
  	.v-slot-actions {
  		width: 350px;
  	}
  	
  	
  	.actions {
  		position: fixed;
  		top: 0px;
  		left: 0px;
  		height: 100%;
  		width: 300px;
  		background-color: green;
  	
  		.cancel-button {
  			width: 100%;
  		}
  	}
  	
  	
  	.form-layout {
  		margin-top: 20px;
  		
  		.coop-info-layout, .address-layout {
  		
  			.coop-name, .city {
  				width: 167%;
  			}
  			
  			.search-address {
  				width: 100%;
  			}
  			
  			.v-slot-coop-number
  			, .v-slot-cda-number
  			, .v-slot-barangay {
  				width: 100%;
  			}
  			
  			.v-slot-acronym {
  				width: 30%;
  			}
  			
  			.v-slot-branch {
  				width: 55%;
  			}
  			
  			.branch {
  				width: 105%;
  			}
  			
  			.coop-number {
  				width: 137%;
  			}
  			
  			.acronym {
  				width: 100%;
  			}
  			
  			.cda-number, .barangay {
  				width: 197%;
  			}
  			
  			
  			
  		}
  	}
  	
  	&[width-range~="768-960px"] {
  		width: 960px;
  	
  		.v-slot-actions {
  			width: 200px;
  		}
  		.actions {
  		
  			position: fixed;
  			top: 0px;
  			left: 0px;
  			height: 100%;
  			width: 190px;
  			background-color: green;
  			
  			.cancel-button {
  				width: 100%;
  			}
  		}
  		
  		.form-layout {
  			
  			width: 740px;
  			
  			.v-caption {
  				font-size: .8em;
 			}
  		
  			.v-datefield-button {
  				height: 29px;
  			}
  			
  			.coop-info-layout, .address-layout  {
  				width: 354px;
  				
  				.acronym, .branch
  				, .business-type
  				, .category
  				, .group
  				, .tin
  				, .email-cont
  				, .coop-code
  				, .date-registed
  				, .date-started
  				, .province
  				, .zipcode
  				, .region
  				, .area {
  					width: 100%;
  				}
  				
  				.v-textfield-barangay {
  					width: 207%;
  				}
  				
  				.v-textfield, .v-horizontallayout .v-filterselect {
  					height: 30px;
  					font-size: .8em;
  				}
  			
  				.coop-name, .city, .cda-number {
  					height: 30px;
  					width: 354px;
  					font-size: .8em;
  				}
  				
  				.v-slot-branch {
  					width: 64%;
  				}
  				
  				.v-filterselect-branch {
  					width: 110%;
  				}
  				
  				.v-textarea-address, .v-textarea-remarks {
  					font-size: .9em;
  				}
  			
  				.v-slot-coop-number {
  					width: 100%;
  				}
  			
  				.v-slot-acronym {
  					width: 32%;
  				}
  				
  				.v-slot-business-type
  				, .v-slot-category
  				, .v-slot-group
  				, .v-slot-tin
  				, .v-slot-email-cont
  				, .v-slot-coop-code
  				, .v-slot-date-registed
  				, .v-slot-date-started
  				, .v-slot-province
  				, .v-slot-zipcode
  				, .v-slot-region
  				, .v-slot-area {
  					width: 48%;
  				}
  				
  				.search-address, .v-slot-barangay {
  					width: 100%;
  				}
  				
  				
  			}
  		} // end of form-layout
  	}  // End of 768 - 960px
  	
  	
  	&[width-range~="481-767px"] {
  	
  		width: 767px;
  		
  		.v-slot-actions { width: 20px; }
  		
  		.actions {
  			width: 190px;
  			z-index: 90;
  			background-color: red;
  			
  			&:before {
  				content: "";
  				position: absolute;
  				top: 20px;
  				z-index: 91;
  				right: -50px;
  				width: 30px;
  				height: 5px;
	  			background-color: black;
	  			box-shadow: 0 8px 0 #000, 0 16px 0 #000;
  			}
  			
  			&:after {
  				content: "";
  				position: absolute;
  				top: 20px;
  				z-index: 99;
  				right: -50px;
  				width: 40px;
  				height: 30px;
  			}	
  			
  			@include transform(translateX(-100%));
  			@include transition(all ease-in-out 300ms);
  			
  			&:hover
  			, &:focus {
  				@include transform(translateX(0%));
  			}
  			
  		}
  		
  		.form-layout {
  			
  			width: 92%;
  			margin-top: 70px;
  			
  			.v-caption {
  				font-size: .6em;
 			}
  		
  			.v-datefield-button {
  				height: 25px;
  			}
  			
  			.coop-info-layout, .address-layout {
  				width: 345px;
  			}
  			.v-slot-coop-info-layout, .v-slot-address-layout {

									
  				.v-textfield, .v-filterselect {
  					font-size: .7em;
  					height: 30px;
  				}
  				
  				.v-textarea {
  					font-size: .7em;
  					width: 214% !important;
  					
  					.v-textarea-address {
  						width: 100px;
  					}
  				}
  				
  				.v-horizontallayout {
  					width: 101%;
  					
  					
  					.v-slot {
  						width: 48%;
											
  						.v-filterselect, .v-datefield {
  							width: 100%;
  						}
  						.v-textfield {
  							width: 112%;
  						}
  						
  						.v-datefield-textfield {
  							width: 100%;
  						}
  						
  						.v-textfield-acronym {
  							width: 100%;
  						}
  						
  						.v-filterselect-branch {
  							width: 124%;	
  						}
  					}
  					
  					.v-slot-acronym {
  						width: 30%;
  					}
  					
  					.v-slot-branch {
  						width: 65%;
  					}
  				} // end of horizontal
  				
  				.cda-number, .barangay, .address {
  					width: 231%;
  				}
  					
  				.coop-name, .city {
  					width: 187%;
  				}
  				
  				.v-slot-coop-name {
  					width: 100%;
  				}
  				
  				.v-slot-branch {
  					width: 70%;
  				}
  				
  				.search-address {
  					font-size: .8em;
					
					.v-button {
						height: 30px;
					}
  				}
  			}
  		}
  	} // end of 0-768px;
  	
  	&[width-range~="0-480px"] {
  		
  		margin-top: 40px;
  		
  		&:before {
  			font-size: 20px;
  			font-weight: bolder;
  			content: ">";
  			position: fixed;
  			text-align: center;
  			top: 5px;
  			right: 0px;
  			width: 240px;
  			color: #FFF;
  			background-color: black;
  		}
  		
  		&:hover {
  			
  			.actions {
  				background-color: red;
  			}
  		}
  		
  		&:after {
  			
  			.actions {
  				background-color: red;
  			}
  		}
  		
  		.v-slot-actions {
  			width: 60px;
  		}
  		
  		.actions {
  			
  			width: 50px;
  			
  			&:before {
  				font-size: 20px;
  				font-weight: bolder;
  				text-align: center;
  				position: absolute;
  				top: 5px;
  				color: #FFF;
  				content: "<";
  				width: 240px;
  				background-color: black;
  			}
  			
  			.v-button-caption {
  				display: none;
  			}
  			
  		}
  	}
  	
  	&[height-range~="0-600px"] {
  		
  		overflow-y: scroll;
  	} // end of 600px height
  	
  	
  	&[height-range~="600-650px"] {
  		
  		overflow-y: scroll;
  	} // end of 600-650px
  } // main layout
}
